* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    width: 100vw;
    font-size: 3em;
}

h1 {
    color: #009688;
    font-weight: bold;
    margin-bottom: 20px;
}

.device-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file-input {
    margin-bottom: 10px;
    border: 2px solid #009688;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}

#file-input:focus {
    outline: none;
    border-color: #66bb6a;
}

input[type="submit"] {
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #00796b;
}

#success-message {
    color: #009688;
    font-weight: bold;
    margin-top: 10px;
}
